name: Dynamic Build and Push Custom Images

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'

permissions:
  contents: read
  packages: write


jobs:
  dynamic-build-and-push:
    name: Dynamic Build and Push Docker Images Caller
    uses: srekit/github-workflows/.github/workflows/dynamic-build-and-push.yaml@main
